@model QLCafe.Web.Models.Unit.UnitAdd

@{
    ViewData["Title"] = "UnitAdd";
}

<h1>UnitAdd</h1>

<h4>UnitAdd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UnitAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success">@TempData["Success"]</p>
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Unit" asp-action="UnitIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
